
@red : #d9534f;
@green : #4cae4c;
@blue : #337ab7;


.border() {
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: #eee;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  color: #333;
}





/*
.status-header {
  background-color: @green;
  color: white;
  padding: 4px 6px;
  font-weight: 300;
  margin-bottom: 20px;
    .status-error {
      display: none;
    }

    &.error{

      background-color: @red;

      .status-error {
        display: inline-block;
      }
      .status-ok {
        display: none;
      }
    }
}

.right {
  float: right;
}

.zenbot-home {
  max-width: 400px;
  @media only screen and (max-device-width : 500px) {
     max-width: 100%;
  }
}

.currency {
  font-size: 20px;
  padding: 4px 10px;
  color: #666;
}

.totals {
  display: flex;
  width: 100%;
  .currencies {
    flex: 2 1;
  }
  .usd-total {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    flex: 1 1;
    background-color: #666;
    color: white;

  }
}

.price {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 5px;
  .product {
    font-size: 16px;
  }
}

.chart-price {
  margin-top:  28px;
  padding-left: 4px;
  color: @red;
  font-size: 17px;
}

.chart {
  display: flex;
}


.sparkline {
  fill: none;
  stroke: #000;
  stroke-width: 0.5px;
}

.sparkcircle {
  fill: @red;
  stroke: none;
}

table {

  &.periods {
    tbody tr:first-child {
    color: @red;

    }
  }

  border-collapse: collapse;
  margin-top: 10px;
  width:100%;
  font-size: 18px;

  thead {
    color: @blue;
  //  color: white;
  //  font-size: 14px;
    th {
      font-weight: 400;
      padding: 4px 0px ;
    }
  }

  td {
    text-align: center;
  }
}


line {
  stroke-width: 1;
  stroke: @blue;
  stroke-dasharray: 5 5;
}
*/

line {
  stroke-width: 0.5px;
  stroke: #999;
  stroke-dasharray: 5 5;
}

.sparkline {
  fill: none;
  stroke: #000;
  stroke-width: 0.5px;
}

.sparkcircle {
  fill: @red;
  stroke: none;
}

.section-header {
  font-size: 1.5rem;
  margin-top: 15px;
  margin-bottom: 5px;
  text-align: center;
}

.balances {
  margin: 5px 0px;
  display: flex;
  justify-content: center;
}

.balance {
  min-width: 80px;
  text-align: center;
  .amount {
    font-size: 1.1em;
  }
  .currency {
    font-size: 1.4em;

  }
  .day-change {
    font-size: 0.8em;
  }
}

.usd-total {
  margin: 5px 0px;
  text-align: center;
  font-size: 1.3em;
  font-weight: 100;
}

.sessions-header {
  display: flex;
  padding: 0px 6px;
  font-size: 0.8em;
  font-weight: bold;
}
.s-col {
  flex: 1 1;
  text-align: center;
  .value {

  }
  .sub-title {
    font-size: 0.8em;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sessions {

}

.session {
  padding: 5px 5px;
  margin-top: 5px;
  .border();
  cursor: pointer;

  &.selected {
    background-color: #ddd;
  }

}

.session-head {
  display: flex;
}

.property-list {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  margin-top: 10px;

  font-size: .8em;
}

.property {
  display: flex;
  min-width: 160px;
  .name {
    flex: 1 1;
    font-weight: 300;
    text-align: right;
    padding-right: 5px;
  }
  .value {
    flex: 1 1;
    padding-left: 5px;

  }
}

.trade-buy-sell {
  .s-col {
    font-size: 1.5em;
    font-weight: normal;
  }
}

.bigger {
  font-size: 1.2em;
}

.left-align {
  text-align: left;
  padding-left: 5px;
}
.right-align {
  text-align: right;
  padding-right: 5px;
}


.red-text {
  color: @red;
}
.green-text {
  color: @green;
}

.period-chart {
  margin: 10px 10px;
}

.zenbot-home {
  margin: 15px 15px;
  max-width: 500px;
  @media only screen and (max-device-width : 500px) {
    max-width: 100%;
  }
}
/*

*/
/*
.row {
  display: flex;
  background-color: red;
  @media only screen and (max-device-width : 600px) {
    background-color: blue;
  }

}

.col {
  flex: 1 1;

}*/