<div class="zenbot-home">
    <div class="status-header"
        ng-class="{'error': data.balance.calculated.timeCalculated-data.updated > 1000*60*2}">
       <span class="left">
            {{data.options.strategy}}
       </span>
       <span class="right status-ok">
            {{data.updated | date: 'HH:mm:ss'}} ({{printTimeElapsed((data.updated-data.started)/1000)}} up)
       </span>
       <span class="right status-error">
            DOWN FOR {{printTimeElapsed((data.balance.calculated.timeCalculated-data.updated)/1000)}}
       </span>
    </div>
    <div class="totals">
        <div class="usd-total">
            <div class="label">
                USD
            </div>

            <div class="metric">
                {{data.balance.calculated.usdTotal | currency : '$' : 2}}
            </div>

        </div>
        <div class="currencies">
            <div class="currency" ng-repeat="c in data.balance.calculated.currencies">
               <span class="left">
                    {{c}}
               </span>
               <span class="right">
                    {{data.balance.calculated.balances[c] | number : 5}}
               </span>
            </div>
        </div>


    </div>

    <div class="price">
        <div class="product">{{data.balance.calculated.currencies[0]}}-{{data.balance.calculated.currencies[1]}}</div>
    </div>

    <div class="chart">
        <span id="spark_goog">

        </span>
        <span class="chart-price">{{data.price}}</span>
    </div>

    <table ng-if="data.myTrades.length > 0">
        <thead>
            <tr>
                <th>Trade Time</th>
                <th>Type</th>
                <th>Size</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="trade in data.myTrades">
                <td>{{trade.time | date: 'M/dd HH:mm'}}</td>
                <td>{{trade.type}} ({{trade.selector.split('.')[1]}})</td>
                <td>{{trade.size | number : 5}}</td>
                <td>{{trade.price | number : 5}}</td>
            </tr>
        </tbody>
    </table>
<br><br>

    <table>
        <thead>
        <tr>
            <th>Period Start</th>
            <th>Close Price</th>
            <th>Volume</th>
            <th>EMA</th>
            <th>RSI</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="period in data.periods">
            <td>{{period.time | date: 'M/dd HH:mm'}}</td>
            <td>{{period.close | number : 5}}</td>
            <td>{{period.volume | number : 0}}</td>
            <td>{{period.trend_ema_rate | number : 3}}</td>
            <td>{{period.rsi}}</td>
        </tr>
        </tbody>
    </table>

    <br><br><br><br>
    {{stringData}}

</div>