<div class="zenbot-home">
    <div class="section-header">Active Session Balance</div>
    <div class="usd-total">{{usdTotal | currency: '$'}}</div>
    <div class="balances">
        <div class="balance" ng-repeat="balance in data.balance">
            <div class="amount">{{balance.amount | number: 2}}</div>
            <div class="currency">{{balance.currency}}</div>
            <div class="day-change" ng-if="balance.change != undefined"
                 ng-class="{'red-text' : balance.change < 0, 'green-text' : balance.change > 0}">
                {{balance.change | number: 2}}%</div>
        </div>
    </div>

    <div class="row">

        <div class="col">

            <div class="section-header">Sessions</div>
            <div class="sessions-header">
                <div class="s-col">Selector</div>
                <div class="s-col">Status</div>
                <div class="s-col">Activity</div>
                <div class="s-col">Profit</div>
            </div>
            <div class="sessions">
                <div class="session" ng-repeat="session in data.sessions" ng-class="{'selected': selectedSession == session}" ng-click="selectSession($index)">
                    <div class="session-head">
                        <div class="s-col">{{session.selector.split('.')[1]}}</div>
                        <div class="s-col">
                            <div class="value">{{printTimeElapsed((session.updated-session.started)/1000)}}</div>
                            <div class="sub-title">up time</div>
                        </div>
                        <div class="s-col">
                            <div class="value">{{session.num_trades}}</div>
                            <div class="sub-title">trades</div>
                        </div>
                        <div class="s-col">
                            <div class="value" ng-class="{'red-text' : session.balance.profit < 0, 'green-text' : session.balance.profit > 0}">{{session.balance.profit*100 | number : 1}}%</div>
                            <div class="sub-title" ng-class="{'red-text' : session.balance.vs_buy_hold < 0, 'green-text' : session.balance.vs_buy_hold > 0}">{{session.balance.vs_buy_hold*100 | number : 1}}% v. b&h</div>
                        </div>
                    </div>
                    <div class="session-body">
                        <div class="period-chart" id="chart_{{session.id}}">

                        </div>
                        <div class="property-list">
                            <div class="property">
                                <div class="name">Price</div>
                                <div class="value">{{session.currentPeriod.close | number:4}}</div>
                            </div>
                            <div class="property" style="color:#337ab7">
                                <div class="name">RSI</div>
                                <div class="value">{{session.currentPeriod.rsi | number:0}}</div>
                            </div>
                            <div class="property" style="color:#d38312">
                                <div class="name">EMA</div>
                                <div class="value">{{session.currentPeriod.trend_ema | number:4}}</div>
                            </div>
                            <div class="property">
                                <div class="name">Volume</div>
                                <div class="value">{{session.currentPeriod.volume | number:3}}</div>
                            </div>
                            <div class="property">
                                <div class="name">EMA Rate</div>
                                <div class="value">{{session.currentPeriod.trend_ema_rate | number:4}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col">

            <div class="section-header">Trades</div>
            <div class="sessions-header trade-buy-sell">
                <div class="s-col left-align">Buy</div>
                <div class="s-col right-align">Sell</div>
            </div>
            <div class="sessions-header">
                <div class="s-col left-align">Time</div>
                <div class="s-col left-align">Price</div>
                <div class="s-col">Change</div>
                <div class="s-col right-align">Price</div>
                <div class="s-col right-align">Time</div>
            </div>
            <div class="sessions">
                <div class="session" ng-repeat="trade in allPairedTrades | orderBy: 'buy.time' : true | filter:{session_id:selectedSession.id}" ng-click="trade.showDetails=!trade.showDetails">
                    <div class="session-head">
                        <div class="s-col left-align">{{trade.buy.time | date : 'M/dd HH:mm'}}</div>
                        <div class="s-col left-align" ng-class="{'red-text' : trade.buy.price > trade.sell.price, 'green-text' : trade.buy.price < trade.sell.price}">{{trade.buy.price | number : 3}}</div>
                        <div class="s-col" ng-class="{'red-text' : trade.buy.price > trade.sell.price, 'green-text' : trade.buy.price < trade.sell.price}">
                            <b ng-if="trade.buy != undefined && trade.sell != undefined">{{((trade.sell.price)-(trade.buy.price))/(trade.sell.price)*100 | number : 2}}%</b>
                        </div>
                        <div class="s-col right-align sell" ng-class="{'red-text' : trade.buy.price > trade.sell.price, 'green-text' : trade.buy.price < trade.sell.price}">{{trade.sell.price | number : 3}}</div>
                        <div class="s-col right-align sell">{{trade.sell.time | date : 'M/dd HH:mm'}}</div>
                    </div>
                    <div class="session-body" ng-show="trade.showDetails">
                        <div class="property-list">
                            <div class="property" ng-if="trade.buy != undefined">
                                <div class="name">Buy Size</div>
                                <div class="value">{{trade.buy.size | number:3}}</div>
                            </div>
                            <div class="property" ng-if="trade.sell != undefined">
                                <div class="name">Sell Size</div>
                                <div class="value">{{trade.sell.size | number:3}}</div>
                            </div>
                            <div class="property" ng-if="trade.buy != undefined">
                                <div class="name">Buy Slippage</div>
                                <div class="value">{{trade.buy.slippage*100 | number:3}}%</div>
                            </div>
                            <div class="property" ng-if="trade.sell != undefined">
                                <div class="name">Sell Slippage</div>
                                <div class="value">{{trade.sell.slippage*100 | number:3}}%</div>
                            </div>
                            <div class="property" ng-if="trade.buy != undefined">
                                <div class="name">Buy Time</div>
                                <div class="value">{{printTimeElapsed(trade.buy.execution_time/1000)}}</div>
                            </div>
                            <div class="property" ng-if="trade.sell != undefined">
                                <div class="name">Sell Time</div>
                                <div class="value">{{printTimeElapsed(trade.sell.execution_time/1000)}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    <div>
        <div ng-repeat="(key,val) in selectedSession.options">
            <b>{{key}}</b>: {{val}}
        </div>
    </div>

    </div>



<!--
    {{textData}}
    -->

<!--
    <div class="status-header"
        ng-class="{'error': data.balance.calculated.timeCalculated-data.updated > 1000*60*2}">
       <span class="left">
            {{data.options.strategy}}
       </span>
       <span class="right status-ok">
            {{data.updated | date: 'HH:mm:ss'}} ({{printTimeElapsed((data.updated-data.started)/1000)}} up)
       </span>
       <span class="right status-error">
            DOWN FOR {{printTimeElapsed((data.balance.calculated.timeCalculated-data.updated)/1000)}}
       </span>
    </div>
    <div class="totals">
        <div class="usd-total">
            <div class="label">
                USD
            </div>

            <div class="metric">
                {{data.balance.calculated.usdTotal | currency : '$' : 2}}
            </div>

        </div>
        <div class="currencies">
            <div class="currency" ng-repeat="c in data.balance.calculated.currencies">
               <span class="left">
                    {{c}}
               </span>
               <span class="right">
                    {{data.balance.calculated.balances[c] | number : 5}}
               </span>
            </div>
        </div>


    </div>

    <div class="price">
        <div class="product">{{data.balance.calculated.currencies[0]}}-{{data.balance.calculated.currencies[1]}}</div>
    </div>

    <div class="chart">
        <span id="spark_goog">

        </span>
        <span class="chart-price">{{data.price}}</span>
    </div>

    <table ng-if="data.myTrades.length > 0">
        <thead>
            <tr>
                <th>Trade Time</th>
                <th>Type</th>
                <th>Size</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="trade in data.myTrades">
                <td>{{trade.time | date: 'M/dd HH:mm'}}</td>
                <td>{{trade.type}} ({{trade.selector.split('.')[1]}})</td>
                <td>{{trade.size | number : 5}}</td>
                <td>{{trade.price | number : 5}}</td>
            </tr>
        </tbody>
    </table>
<br><br>

    <table class="periods">
        <thead>
        <tr>
            <th>Period Start</th>
            <th>Close Price</th>
            <th>Volume</th>
            <th>EMA</th>
            <th>RSI</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="period in data.periods">
            <td>{{period.time | date: 'M/dd HH:mm'}}</td>
            <td>{{period.close | number : 5}}</td>
            <td>{{period.volume | number : 0}}</td>
            <td>{{period.trend_ema_rate | number : 3}}</td>
            <td>{{period.rsi}}</td>
        </tr>
        </tbody>
    </table>

    <br><br><br><br>
    -->

</div>